#base {margin:0 auto; width: 960px;}
#menu {margin-top: 36px; height: 50px; background-color: #538bc5; font-family: Arial; font-size: 20px; font-weight: bold;}
ul {list-style-type: none;
    margin: 0;
    padding: 0;
} 
li {float: left;
	text-align: center;
	height: 35px;
	padding-top: 
	15px;
}
li:hover {background-color: #426289;}
a {display: block;
    width: 120px;
    color: #ffffff;
    text-decoration: none;
}
#aimg {width: 30px; float: right;}